{% extends 'indexClient.html.twig' %}

{% block title %}membership{% endblock %}

{% block body %}
    {# Add these lines to display success and error messages #}
    {% if success %}
        <div class="alert alert-success">
            You bought a new membership! and your new token balance is: {{ highscores.score }} $
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">
            You cannot buy this abonnement because your highscore is too low.
        </div>
    {% endif %}

    <br>
    <br>
    <br>
    <main id="main">

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                     <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                                <h3>Membership</h3>
                                
                                {% if highscores %}
                                    <p>
                                        Your wallet Balance is: {{ highscores.score }} $
                                        <!-- by user {{ highscores.idUser }}-->
                                    </p>
                                {% else %}
                                    <p>
                                        No high scores found.
                                    </p>
                                {% endif %}
                                
                                <ul>
                                <center>    <table border="0">
                                <tr>
                                <th>
                               
                                    {{ include('abonnement/_form.html.twig') }}
                                </th>
                                </tr>

                                </center>
                        </div>

                    </div>

                </div>

            </div>
            
    </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->

{% endblock %}
