{% extends 'indexClient.html.twig' %}

{% block title %}membership{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <main id="main">

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                     <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                                <h3>Membership</h3>
                                
                                {% if highscores %}
                                    <p>
                                        Your wallet Balance is: {{ highscores.score }} $
                                        <!-- by user {{ highscores.idUser }}-->
                                    </p>
                                {% else %}
                                    <p>
                                        No high scores found.
                                    </p>
                                {% endif %}
                                
                                <ul>
                                <center>    <table border="0">
                                <tr>
                                <th>
                               
                                    {{ include('abonnement/_form.html.twig') }}
                                </th>
                                </tr>

                                </center>
                        </div>

                    </div>

                </div>

            </div>
            
    </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
    {# Check if the "success" query parameter is present and equals "true" #}
{% if app.request.query.get('success') == '1' %}
<script>
    // Display an alert with a message
    alert('Your membership has been created successfully!');
</script>
{% endif %}


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
