{% extends 'base.html.twig' %}

{% block title %}New Highscores{% endblock %}

{% block body %}
    <h1>Create new Highscores</h1>

    {{ include('highscores/_form.html.twig') }}

    <a href="{{ path('app_highscores_index') }}">back to list</a>
{% endblock %}
