{% extends 'indexClient.html.twig' %}

{% block title %}Highscores{% endblock %}

{% block body %}
    <h1>Highscores</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Score</th>
                <td>{{ highscore.score }}</td>
            </tr>
            
        </tbody>
    </table>

   
{% endblock %}
